.menu {
    background: rgba(30, 30, 30, 0.5);
}
.menu ul {
    margin-top: 0px;
    margin-bottom: 2px;
    margin-right:20px;
    text-align: left;
}
.menu li {
    display: inline;
    margin: 0 5px;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
}
.menu a:hover {
    color:#C2C2C2;
}
.adsbygoogle {
    margin: 0 25%;
}